.App {
  /* text-align: center; */
  display: grid;
  grid-template-rows: 66px 1fr 1fr; 
}

#nav {
  grid-row: 1/2;

}
#main{
  grid-row: 2/3;
}

scroll-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
}