@media only screen and (max-width: 700px) {

  #cards{
    /* margin-top: 1em;
    margin-bottom: 1em; */
    margin: .5em;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: .2fr 1fr .2fr;
  }

  #imgCard{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: center;
    display:flex;
    width: 1fr;
  }
  #imgChar{
    width: 100%;
    height: auto;
    min-width: 300px;
  }
  #dataCard {
    grid-row: 2/3;
    grid-column: 2/3;
    /* justify-content: center;
    display: flex; */
    background-color: aqua;
    width: 1fr;
    display: block;
  }
}

@media only screen and (min-width: 701px) {


  #cards {
    margin-top: 1em;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns:  .1fr repeat(4, .5fr) repeat(4,.6fr) .2fr ;
  }
  
  #imgCard{
    
    grid-column: 1/6;
    justify-content: center;
    display:flex;
    width: 1fr;
  }
  #imgChar{
    width: auto;
    height: 100%;
  }
  #dataCard {
    grid-column: 6/10;
    justify-content: center;
    display: flex;
    /* background-color:rgb(255, 255, 255); */
    width: 1fr;
    display: block;
    /* box-shadow: rgba(136, 152, 170, 0.15) 0px 0px 2rem 0px; */
  }


}

.App {
  /* text-align: center; */
  display: grid;
  grid-template-rows: 66px 1fr 1fr;
  height: 100px;
}
#nav {
  grid-row: 1/2;
}
#main{
  grid-row: 2/3;
}
scroll-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#dataCard {
  font-size: 16px;
  font-family: Play,sans-serif;
  background-color:rgb(255, 255, 255);
  box-shadow: rgba(136, 152, 170, 0.30) 0px 0px 2rem 0px;
}

#imgChar {
  box-shadow: rgba(136, 152, 170, 0.30) 0px 0px 2rem 0px;
}

#message, #messageH{
  display: flex;
  justify-content: center;
  margin: 9em;
  /* height: 100%; */
  background-color:rgb(255, 255, 255);
  /* box-shadow: rgba(136, 152, 170, 0.30) 0px 0px 2rem 0px; */

}

#messageH{
  margin: 4em;
}

#history {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

#list{
  margin-bottom: 2em;
}